.root {
  --Duft-track: #E0F2FE;
  --Duft-fill: #3B82F6;
  --Haltbarkeit-track: #DCFCE7;
  --Haltbarkeit-fill: #10B981;
  --Sillage-track: #FEF3C7;
  --Sillage-fill: #F59E0B;
}

:global(.dark) .root {
  --Duft-track: #1E3A8A;
  --Duft-fill: #60A5FA;
  --Haltbarkeit-track: #064E3B;
  --Haltbarkeit-fill: #34D399;
  --Sillage-track: #78350F;
  --Sillage-fill: #FBBF24;
}

