.root {
  --Animalisch: 146 64 14;
  --Aquatisch: 59 130 246;
  --Blumig: 236 72 153;
  --Chypre: 163 230 53;
  --Cremig: 253 230 138;
  --Erdig: 161 98 7;
  --Fougère: 34 197 94;
  --Frisch: 6 182 212;
  --Fruchtig: 245 158 11;
  --Gourmand: 244 114 182;
  --Grün: 52 211 153;
  --Harzig: 245 158 66;
  --Holzig: 146 64 14;
  --Ledrig: 180 83 9;
  --Orientalisch: 124 45 18;
  --Pudrig: 224 231 255;
  --Rauchig: 107 114 128;
  --Süß: 236 72 153;
  --Synthetisch: 129 140 248;
  --Würzig: 249 115 22;
  --Zitrus: 252 211 77;
}

:global(.dark) .root {
  --Animalisch: 180 83 9;
  --Aquatisch: 96 165 250;
  --Blumig: 244 114 182;
  --Chypre: 132 204 22;
  --Cremig: 252 211 77;
  --Erdig: 202 138 4;
  --Fougère: 74 222 128;
  --Frisch: 34 211 238;
  --Fruchtig: 251 191 36;
  --Gourmand: 249 168 212;
  --Grün: 110 231 183;
  --Harzig: 253 186 116;
  --Holzig: 180 83 9;
  --Ledrig: 217 119 6;
  --Orientalisch: 161 98 7;
  --Pudrig: 199 210 254;
  --Rauchig: 156 163 175;
  --Süß: 244 114 182;
  --Synthetisch: 165 180 252;
  --Würzig: 251 146 60;
  --Zitrus: 253 230 138;
}